<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#myPage">
                ThumbsUp<i class="fas fa-thumbs-up pulse"></i>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#services">SERVICES</a></li>
                <li><a href="#portfolio">PORTFOLIO</a></li>
                <li><a href="#scholarship">SCHOLARSHIP</a></li>
                <li><a href="#contact">CONTACT</a></li>
                <li><a href="~/Home/Login">LOGIN</a></li>
                <li><a href="~/Home/SignUp">SIGNUP</a></li>
                <li><a href="~/Home/AdminLogin">ADMIN</a></li>
            </ul>
        </div>
    </div>
</nav>


